<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img
      src="../assets/img/JA-black.png"
      alt="JA Padel Academy Logo"
      style="width: 100px"
      class="vh-50 ms-2"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Quiénes somos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nuestras clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MovinPadel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <img
        src="../assets/img/headerGAletters.png"
        class="img-fluid"
        alt="Tu victoria empieza aquí"
      />
    </div>
  </div>
</header>

<section class="container-fluid my-4">
  <div class="row align-items-stretch">
    <div class="col-md-6">

      <div class="card shadow-lg mx-3 mb-md-3 h-100">
        <div class="card-body d-flex flex-column">
          <h1 class="display-4">Modelo de Formación para Todos los Niveles</h1>
          <p class="lead">
            Trabajamos mediante un formato escalera en el que podrás aprender
            escalón por escalón.
          </p>
          <p>
            Todos los servicios de la academia están creados con la intención de
            disfrutar el camino de la formación.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="../assets/img/lateralHome.jpg"
        class="img-fluid w-100 h-100 object-fit-cover"
        alt="Training Model"
      />
    </div>
  </div>
</section>


<div class="container-fluid px-0">
  <div class="row position-relative">
    <img
      src="../assets/img/centeredPlayer.png"
      class="img-fluid w-100"
      alt="Jugador de Padel"
    />

    <div class="col-5 position-absolute m-5 text-white">
      <h2>Servicios Principales</h2>
      <p>
        Clases en grupo: lecciones técnico-tácticas grupales desde nivel
        iniciación hasta la pre-competición.
      </p>
      <p>
        Clases Individuales o en pareja: la mejor opción para trabajar de manera
        personalizada.
      </p>
      <p>
        Equipos de competición: tenemos equipos en todas las categorías, únete y
        forma parte de ellos!
      </p>
      <p>
        MovingPadel: Lleva el pádel por todo el mundo, organizamos viajes para
        visitar otros países y culturas de la mano de nuestro deporte.
      </p>
      <p>
        Torneos, eventos, cenas: durante el año realizamos todo tipo de
        actividades tanto dentro como fuera de pista uniendo toda la escuela.
      </p>
    </div>

    <div
      class="col-5 position-absolute end-0 top-50 translate-middle-y text-white pe-5"
    >
      <div class="d-flex flex-column align-items-center">
        <img
          src="../assets/img/JA-white.png"
          alt="JA Padel Academy Logo"
          style="width: 150px"
        />
        <h2>Únete a nuestra comunidad</h2>
        <button class="btn btn-primary my-2">CONTACTAR</button>
        <div>Síguenos en redes sociales:</div>
        <div class="d-flex justify-content-center mt-2">
          <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white mx-2"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="#" class="text-white mx-2"><i class="bi bi-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-white py-4 mt-3">
  <div class="container-fluid text-center">
    <small>© 2024 JA Padel Academy. Todos los derechos reservados.</small>
    <div class="mt-2">
      <a href="#" class="text-white me-3">Política de Privacidad</a>
      <a href="#" class="text-white">Términos de Uso</a>
    </div>
  </div>
</footer>
