<div class="container mt-5">
  <h2 class="mb-4">Create new product</h2>
  <p class="text-muted">Use form to create new product.</p>

  <div class="row" *ngIf="!isSubmited">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h3 class="card-title">Product Info</h3>
          <form
            (ngSubmit)="addNewProduct()"
            [formGroup]="productForm"
            autocomplete="off"
          >
            <div class="mb-3">
              <label for="productName" class="form-label">Product name</label>
              <input
                type="text"
                class="form-control"
                id="productName"
                placeholder="Type name here"
                formControlName="product"
              />
              <small
                *ngIf="validateField('product')"
                id="nameError"
                class="form-text text-danger"
                ><p *ngIf="productForm.get('product')?.hasError('required')">
                  El campo no puede estar vacio.
                </p>
                <p *ngIf="productForm.get('product')?.hasError('minlength')">
                  El nombre tene que tener una longitud minima de 4.
                </p></small
              >
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="Type price here"
                formControlName="price"
              />
              <small
                *ngIf="validateField('price')"
                id="priceError"
                class="form-text text-danger"
                >El precio tiene que ser mayor a 1 y menor que 999.</small
              >
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="favorite"
                formControlName="favorite"
              />
              <label class="form-check-label" for="favorite">Favorite</label>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                rows="3"
                placeholder="Type your message here"
                formControlName="description"
              ></textarea>

              <small
                *ngIf="
                  this.productForm.controls['description'].invalid &&
                  this.productForm.controls['description'].touched
                "
                id="descriptionError"
                class="form-text text-danger"
                ><p
                  *ngIf="
                    productForm
                      .get('description')
                      ?.hasError('forbiddenCharacters')
                  "
                >
                  No puede haber caracteres especiales
                </p>
                <p
                  *ngIf="productForm.get('description')?.hasError('maxlength')"
                >
                  El texto no puede ser mas largo de 350 caracteres.
                </p></small
              >
            </div>
            <button
              type="submit"
              [disabled]="productForm.invalid"
              class="btn btn-dark"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h3 class="card-title">Select similar</h3>
          <div class="list-group">
            <a
              *ngFor="let product of products.all; let i = index"
              href="#"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            >
              <div class="d-flex align-items-center">
                <input
                  type="checkbox"
                  [value]="product"
                  (click)="addSimilarProduct(product)"
                />
                <img
                  src="../assets/img/{{ product.id }}.png"
                  alt="Product"
                  class="me-3"
                  width="80px"
                  height="80px"
                />
                <div>
                  <h5 class="mb-1">{{ product.product }}</h5>
                  <small>Estan de buenos</small>
                </div>
              </div>
              <span>
                <i class="bi bi-heart"></i>
                <span class="badge bg-dark rounded-pill">{{
                  product.price
                }}</span>
              </span>
            </a>
            <!-- <a
              href="#"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            >
              <div class="d-flex align-items-center">
                <img
                  src="../assets/img/1.png"
                  alt="Product"
                  class="me-3"
                  width="80px"
                  height="80px"
                />
                <div>
                  <h5 class="mb-1">Café</h5>
                  <small>De avellanas</small>
                </div>
              </div>
              <span>
                <i class="bi bi-heart"></i>
                <span class="badge bg-dark rounded-pill">$5</span>
              </span> </a
            ><a
              href="#"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            >
              <div class="d-flex align-items-center">
                <img
                  src="../assets/img/2.png"
                  alt="Product"
                  class="me-3"
                  width="80px"
                  height="80px"
                />
                <div>
                  <h5 class="mb-1">Jamón</h5>
                  <small>De bellota</small>
                </div>
              </div>
              <span>
                <i class="bi bi-heart"></i>
                <span class="badge bg-dark rounded-pill">$16</span>
              </span> </a
            ><a
              href="#"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            >
              <div class="d-flex align-items-center">
                <img
                  src="../assets/img/3.png"
                  alt="Product"
                  class="me-3"
                  width="80px"
                  height="80px"
                />
                <div>
                  <h5 class="mb-1">Tortilla</h5>
                  <small>A Tortillas Girar le gusta esto</small>
                </div>
              </div>
              <span>
                <i class="bi bi-heart-fill"></i>
                <span class="badge bg-dark rounded-pill">$10</span>
              </span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isSubmited"
    class="d-flex justify-content-center align-items-center"
  >
    <div class="card w-100 text-center bg-light">
      <div class="card-body">
        <div class="mb-4">
          <i class="bi bi-check-circle display-5"></i>
        </div>
        <h3 class="card-title mb-3">Save success!</h3>
        <p class="card-text mb-4">new product added to list.</p>
        <button class="btn btn-dark" routerLink="/home">Done</button>
      </div>
    </div>
  </div>
</div>
